.content {
  grid-area: content;
  padding: 20px;
  font-family: "Lato";
  font-size: 1.2em;
  max-width: 700px;
}

.feelings {
  font-family: "Lato";
  font-size: 1em;
  width: 100%;
  min-height: 100px;
  border: none;
  background-color: #f4f4f4;
  padding: 0;
}

.zip {
  font-family: "Lato";
  width: 100%;
  font-size: 0.8em;
  border: none;
  background-color: #f4f4f4;
  padding: 5px 0;
}

.generate {
  text-transform: uppercase;
  width: 100%;
  font-size: 1em;
  font-family: "Noto Sans";
  color: white;
  background-color: rgb(1, 42, 61);
  border: none;
}

.generate:hover {
  background-color: rgb(93, 146, 7);
}

.journal-card {
  border: 3px solid rgb(135, 195, 216);
  margin: 30px 0;
  font-family: "Alegreya Sans";
  border-radius: 3px;
}

#entry-holder {
  border: 3px solid rgb(93, 146, 7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#entry-holder > .date {
  background-color: rgb(93, 146, 7);
  margin: 0;
}

#entry-holder > p {
  margin: 5px;
}

#entry-holder > .location,
#entry-holder > .description,
#entry-holder > .humidity,
#entry-holder > .wind {
  font-family: "Lato";
  font-size: 0.8em;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#date {
  background-color: rgb(135, 195, 216);
  margin: 0;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}

#feeling {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  margin: 10px 0 10px 0;
  text-align: center;
  font-family: "Lato";
}

#temperature {
  font-size: 1.5em;
  margin: 0 0 10px 0;
}

.details {
  margin: 0 0 20px 0;
  text-align: center;
}

.details > p {
  margin: 5px;
  font-family: "Lato";
}

.recent-entries-header {
  font-size: 0.8em;
  color: rgb(1, 42, 61);
}
